{
  "version": "1.4",
  "toolchainPath": "path/to/toolchain",
  "linkedProjects": [],
  "trustZoneType": "none",
  "multicoreType": "none",
  "debug": {
    "linkserver": {},
    "pemicro": {},
    "segger": {}
  },
  "projectType": "cmake-freestanding"
}